@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.contact__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.75rem 0.75rem 1rem;
    border-radius: var(--border-radius);
    z-index: 1;
    border-bottom: 2px solid var(--clr-blue);
    border-right: 2px solid var(--clr-blue);
    position: relative;

    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry var(--animation-percent) cover var(--animation-percent);
}

.contact__borderAnimation::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

.contact__botcheck {
    display: none;
}

@keyframes border-spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.contact__header {
    font-size: var(--size-xl);
    color: var(--clr-rose);
    margin-bottom: 1rem;
}

.contact__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
    text-transform: capitalize;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry var(--animation-percent) cover var(--animation-percent);
}

.contact__description {
    font-size: var(--size-sm);
    color: var(--clr-slate600);
    max-width: 60ch;

    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry var(--animation-percent) cover var(--animation-percent);
}

.contact__links {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    padding: 1.5rem;
    gap: 1rem;
}

.contact__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    border-radius: 8px;
}

.form__send {
    border: none;
}

.contact__image {
    width: 3rem;
    object-fit: contain;
    margin: 1rem;
}


.contact__message {
    width: 100%;
    padding: 1.5rem;
    border-bottom: 2px solid var(--clr-blue);
    border-right: 2px solid var(--clr-blue);
    border-radius: var(--border-radius);

    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry var(--animation-percent) cover var(--animation-percent);
}

.contact__inputBox {
    position: relative;
    width: 100%;
    margin-top: 0.75rem;
}

.contact__input {
    width: 100%;
    font-size: var(--size-sm);
    background: none;
    margin: 0.6rem 0;
    border: none;
    border-bottom: 0.2rem solid #333;
    outline: none;
    resize: none;
}

.contact__subtitle {
    position: absolute;
    left: 0;
    font-size: var(--size-sm);
    margin: 0.6rem 0rem;
    pointer-events: none;
    color: var(--clr-rose);
    transition: 0.5s;
}

.contact__input:focus ~ .contact__subtitle,
.contact__input:valid ~ .contact__subtitle {
    color: var(--clr-indigo);
    font-size: var(--size-base);
    transform: translateY(-1.55rem);
}

@keyframes fade {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

/* xs */
@media (min-width: 475px) {
    .contact {
        gap: 1.5rem;
    }

    .contact__title {
        font-size: var(--size-3xl);
    }

    .contact__description {
        font-size: var(--size-base);
    }

    .contact__header {
        font-size: var(--size-2xl);
        margin-bottom: 1.5rem;
    }

    .contact__input {
        font-size: var(--size-base);
    }
}

/* sm */
@media (min-width: 640px) {
    .contact__content {
        gap: 3rem;
        padding: 2rem;
    }

    .contact__links {
        gap: 1.5rem;
    }
}

/* md */
@media (min-width: 768px) {
    .contact__links {
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }
}

/* lg */
@media (min-width: 1024px) {
    .contact__title {
        font-size: var(--size-4xl);
    }

    .contact__description {
        font-size: var(--size-lg);
    }

    .contact__header {
        font-size: var(--size-3xl);
        margin-bottom: 2rem;
    }

    .contact__input {
        font-size: var(--size-lg);
    }

    .contact__links {
        grid-template-columns: repeat(2, 10rem);
        gap: 2rem;
    }

    .contact__content {
        flex-direction: row;
        gap: 4rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .contact {
        gap: 2rem;
    }

    .contact__title {
        font-size: var(--size-5xl);
    }

    .contact__description {
        font-size: var(--size-xl);
    }

    .contact__header {
        margin-bottom: 3rem;
    }

    .contact__input {
        font-size: var(--size-xl);
    }

    .contact__links {
        gap: 3rem;
    }

    .contact__content {
        gap: 5rem;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .contact {
        gap: 4rem;
    }

    .contact__title {
        font-size: var(--size-5xl);
    }

    .contact__description {
        font-size: var(--size-xl);
    }

    .contact__header {
        margin-bottom: 5rem;
    }

    .contact__input {
        font-size: var(--size-3xl);
    }

    .contact__links {
        gap: 3rem;
        grid-template-columns: repeat(2, 15rem);
    }

    .contact__content {
        gap: 7rem;
    }
}

/* Reduced motion preference */
@media (prefers-reduced-motion) {
    .contact__title {
        animation: none;
    }

    .contact__description {
        animation: none;
    }

    .contact__content {
        animation: none;
    }
}
