.scroll__wrapper {
  margin-top: 2rem;
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  height: 100px;
  position: relative;
  overflow: hidden;

  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    var(--clr-dark) 20%,
    var(--clr-dark) 80%,
    rgba(0, 0, 0, 0)
  );
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry var(--animation-percent) cover var(--animation-percent);
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.scroll__itemLeft {
  width: 200px;
  height: 100px;
  border-radius: var(--border-radius);
  left: max(calc(200px * 6), 100%);
  position: absolute;
  animation-name: scrollLeft;
  animation-timing-function: linear;
  animation-duration: var(--animation-duration);
  animation-iteration-count: infinite;
  animation-delay: calc(var(--animation-duration) / 6 * (6 - var(--n)) * -1);
}

.scroll__wrapper:hover .scroll__itemLeft {
  animation-play-state: paused !important;
}
