.projects__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projects__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);

    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry var(--animation-percent) cover var(--animation-percent);
}

.projects__description {
    font-size: var(--size-sm);
    color: var(--clr-slate600);

    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry var(--animation-percent) cover var(--animation-percent);
}

.projects__container {
    width: 100%;
    overflow: hidden;
    padding: 2rem 0 4rem;
}

/*============= Swiper =============*/

.swiper {
    width: 100%;
}

.swiper-wrapper {
    align-items: stretch;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: auto;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
}

.swiper-button-prev,
.swiper-button-next {
    width: initial;
    height: initial;
    font-size: 4rem;
    color: var(--clr-voilet);
    display: none;
}

.swiper-button-prev {
    transform: scale(0.85);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1.5rem) saturate(160%);
    color: var(--clr-voilet);
    border: 1px solid var(--clr-voilet);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
    padding: 0.75rem 1rem;
    border-radius: 50%;
    left: 0;
    transition: transform .2s ease-in-out;
}

.swiper-button-prev:hover {
    transform: scale(1.15);
}

.swiper-button-prev:active {
    border: 1px solid var(--clr-rose);
    color: var(--clr-rose);
}

.swiper-button-next {
    right: 0;
    transform: scale(0.85);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1.5rem) saturate(160%);
    color: var(--clr-voilet);
    border: 1px solid var(--clr-voilet);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
    padding: 0.75rem 1rem;
    border-radius: 50%;
    transition: transform .2s ease-in-out;
}

.swiper-button-next:hover {
    transform: scale(1.15);
}

.swiper-button-next:active {
    color: var(--clr-rose);
    border: 1px solid var(--clr-rose);
}

.swiper-pagination {
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1.5rem) saturate(160%);
    border: 1px solid var(--clr-blue);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
    padding: 0.75rem 1rem;
    border-radius: var(--border-radius);

    width: 15rem !important;
    margin: auto;

}

.swiper-pagination-bullet {
    background-color: var(--clr-voilet);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--clr-rose);
}

.card__article {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    margin-bottom: 2rem;
    padding: 2rem;
    width: 21rem;
    height: 40rem;
    border-bottom: 2px solid var(--clr-blue);
    border-right: 2px solid var(--clr-blue);

    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry var(--animation-percent) cover var(--animation-percent);
}

.card__btns {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 1rem;
}

.card__btn {
    justify-content: center;
    width: fit-content;
}

.card__data {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.5rem;
    text-align: center;
}

.card__img {
    display: block;
    margin: 0 auto;
    width: 15rem;
    border-radius: var(--border-radius);
}

.card__name {
    font-size: var(--size-base);
    color: var(--clr-indigo);
    margin-bottom: 0.75rem;
}

.card__description {
    font-size: var(--size-sm);
    font-weight: 500;
    margin-bottom: 1.75rem;
    color: var(--clr-slate600);
}

.card__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    font-size: var(--size-sm);
    margin-top: 0.4rem;
    margin-bottom: 1rem;
}

.card__tag {
    padding: .25em 0.75em;
    border-radius: 10rem;
    background: rgba(255, 255, 255, 0.06);
    border: 2px solid var(--clr-blue);
    z-index: 10;
    transition: background 0.5s ease-in-out;
    cursor: default;
}

.card__tag:hover {
    background: rgba(225, 29, 72, 0.18);
}

.project__btn {
    width: fit-content;
    align-self: center;
    margin: 1rem;

    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry var(--animation-percent) cover var(--animation-percent);
}

/* xs */
@media (min-width: 475px) {
    .projects__title {
        font-size: var(--size-3xl);
    }

    .projects__description {
        font-size: var(--size-base);
    }

    .card__name {
        font-size: var(--size-lg);
    }

    .card__description {
        font-size: var(--size-base);
    }
}

/* sm */
@media (min-width: 640px) {

}

/* md */
@media (min-width: 768px) {
    .projects__title {
        font-size: var(--size-4xl);
    }

    .projects__description {
        font-size: var(--size-lg);
    }

    .card__article {
        width: 21rem;
    }

    .card__name {
        font-size: var(--size-xl);
    }

    .card__description {
        font-size: var(--size-lg);
    }
}

/* lg */
@media (min-width: 1024px) {
    .projects__wrapper {
        text-align: left;
    }

    .card__article {
        width: 25rem;
    }

    .card__tags {
        font-size: var(--size-base);
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: flex;
    }
}

/* xl */
@media (min-width: 1280px) {
    .projects__title {
        font-size: var(--size-5xl);
    }

    .projects__description {
        font-size: var(--size-xl);
    }

    .card__article {
        width: 25rem;
        height: 48rem;
    }

    .card__img {
        width: 20rem;
    }

    .card__name {
        font-size: var(--size-2xl);
    }

    .card__description {
        font-size: var(--size-xl);
    }

    .card__tags {
        font-size: var(--size-lg);
    }
}

/* Reduced motion preference */
@media (prefers-reduced-motion) {
    .projects__title {
        animation: none;
    }

    .projects__description {
        animation: none;
    }

    .projects__btn {
        animation: none;
    }

    .projects__container {
        animation: none;
    }
}